<html>
<body>

      <script>

        window.fbAsyncInit = function() {
          FB.init({
            appId      : '<APP_ID>',
            xfbml      : true,
            version    : 'v2.5'
          });

        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) { return; }
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      </script>
      <div class="fb-messengermessageus"
        messenger_app_id="185272738200022"
        page_id="219247181443199"
        color="blue"
        size="large" ></div>


</body>
