<html>
<body>

      <script>

        window.fbAsyncInit = function() {
          FB.init({
            appId      : '185272738200022',
            xfbml      : true,
            version    : 'v2.5'
          });

        };


      </script>

      <div class="fb-messengermessageus"
        messenger_app_id="185272738200022"
        page_id="219247181443199"
        color="blue"
        size="large" ></div>

        <div class="fb-send-to-messenger"
  messenger_app_id="185272738200022"
  page_id="219247181443199"
  data-ref="PASS_THROUGH_PARAM"
  color="blue"
  size="large"></div>


</body>
